@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.accordion {
    pointer-events: none;
    will-change: height;

    overflow: hidden;

    height: 0;

    opacity: 0;
}

.accordion[closing]:not([open]) {
    opacity: 1;

    animation: colaps var(--duration, 500ms) forwards;
}

.accordion[open] {
    pointer-events: all;

    opacity: 1;

    animation: open var(--duration, 500ms) forwards;
}

@keyframes open {
    0% {
        height: 0px;
    }

    100% {
        height: var(--h);
    }
}

@keyframes colaps {
    0% {
        height: var(--h);
    }

    100% {
        height: 0;
    }
}
