@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .translate-z-1 {
        transform: translateZ(0.25rem);
    }

    .hidden-scroll::-webkit-scrollbar {
        width: 0;
        background: transparent;
        border-radius: 0;
        height: 0;
    }

    .hidden-scroll::-webkit-scrollbar-thumb {
        background: transparent;
        width: 0;
        border-radius: 0;
        height: 0;
    }
}

.accordion {
    pointer-events: none;
    will-change: height;

    overflow: hidden;

    height: 0;

    opacity: 0;
}

.accordion[closing]:not([open]) {
    opacity: 1;

    animation: colaps var(--duration, 500ms) forwards;
}

.accordion[open] {
    pointer-events: all;

    opacity: 1;

    animation: open var(--duration, 500ms) forwards;
}

@keyframes open {
    0% {
        height: 0px;
    }

    100% {
        height: var(--h);
    }
}

@keyframes colaps {
    0% {
        height: var(--h);
    }

    100% {
        height: 0;
    }
}

.review-slider-bullet {
    @apply relative mx-2.5 inline-block h-4 w-4 cursor-pointer rounded-1.25 bg-gray-200 transition-all duration-300 dark:bg-blue-350;
}

.review-slider-bullet-active {
    @apply bg-gray-900 dark:bg-blue-900;
}
/* .review-slider-bullet-active-next,
.review-slider-bullet-active-prev {
    @apply scale-75;
}
.review-slider-bullet-active-next-next,
.review-slider-bullet-active-prev-prev {
    @apply scale-50;
} */

.expertise-slider-pagination {
    --swiper-pagination-bottom: auto;
    --swiper-pagination-top: 2rem;
}

.expertise-slider-pagination-horizontal {
    padding-left: 2.75rem;
    text-align: left;
}

@media screen and (max-width: 1280px) {
    .expertise-slider-pagination {
        --swiper-pagination-top: 3rem;
    }
    .expertise-slider-pagination-horizontal {
        padding-left: 2.6875rem;
    }
}
